{% load static %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title> {% block titulo %} Proyecto final de Análisis exploratorio de datos{% endblock %} </title>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
  		<script src="{% static 'js/bootstrap/bootstrap.min.js'  %}"></script>
  		<link href="{% static 'css/bootstrap/bootstrap.min.css'  %}" rel="stylesheet">
  		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth|Aubrey">
  		<link href="{% static 'css/base.css'  %}" rel="stylesheet">
  		<link rel="stylesheet" href="{% static 'css/font-awesome.css'  %}">
  		{% block estilos %}
			            
		{% endblock %}
	</head>
	<body>
		<!-- navbar -->
		{% block navbar %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuControlEPP" aria-controls="menuControlEPP" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <a class="navbar-brand" href="#">
			  	<img id="logo-navbar" src="{% static 'logo.png' %}" width="40" height="40" class="align-top" alt="">
			  </a>
			</nav>
		{% endblock %}
        <br>
		<!-- content -->
		<div class="contenedor">
			<div class="row">
			</div>			
        	{% block contenido %}
        		<div class="row">
        			<div class="col-sm-12 offset-md-3 col-md-6 d-flex justify-content-center">
        				<img src="{% static 'images/logo.png' %}" alt="">
        			</div>
        		</div>
            	
        	{% endblock %}
            
		</div>
		<!-- end content -->
		<br><br>
		<hr>
		<br>
	</body>
	{% block js %}
		
	{% endblock %}
</html>